<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.common.mapper.AdvertMapper" >

    <resultMap id="BaseResultMap" type="com.lxl.common.models.Advert" >
        <result column="advert_id" property="advertId" jdbcType="INTEGER" />
        <result column="advert_department" property="advertDepartment" jdbcType="VARCHAR" />
        <result column="advert_title" property="advertTitle" jdbcType="VARCHAR" />
        <result column="advert_pic" property="advertPic" jdbcType="VARCHAR" />
        <result column="advert_type" property="advertType" jdbcType="INTEGER" />
        <result column="advert_sort" property="advertSort" jdbcType="INTEGER" />
        <result column="advert_is_top" property="advertIsTop" jdbcType="INTEGER" />
        <result column="advert_content" property="advertContent" jdbcType="VARCHAR" />
        <result column="advert_create_at" property="advertCreateAt" jdbcType="TIMESTAMP" />
        <result column="advert_update_at" property="advertUpdateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        advert_id, advert_department, advert_title, advert_pic, advert_type, advert_sort, advert_is_top, advert_content, advert_create_at, advert_update_at
    </sql>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM advert
        WHERE advert_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteOneById" parameterType="java.lang.Integer" >
        DELETE FROM advert
        WHERE advert_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lxl.common.models.Advert" >
        INSERT INTO HOUSE (advert_id, advert_department, advert_title, advert_pic, advert_type, advert_sort, advert_is_top, advert_content, advert_create_at, advert_update_at)
        VALUES (#{advertId,jdbcType=INTEGER}, #{advertDepartment,jdbcType=VARCHAR}, #{advertTitle,jdbcType=VARCHAR}, #{advertPic,jdbcType=VARCHAR}, #{advertType,jdbcType=INTEGER}, #{advertSort,jdbcType=INTEGER}, #{advertIsTop,jdbcType=INTEGER}, #{advertContent,jdbcType=VARCHAR}, #{advertCreateAt,jdbcType=TIMESTAMP}, #{advertUpdateAt,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertByParams" parameterType="com.lxl.common.models.Advert" >
        INSERT INTO advert
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="advertId != null" >
                advert_id,
            </if>
            <if test="advertDepartment != null" >
                advert_department,
            </if>
            <if test="advertTitle != null" >
                advert_title,
            </if>
            <if test="advertPic != null" >
                advert_pic,
            </if>
            <if test="advertType != null" >
                advert_type,
            </if>
            <if test="advertSort != null" >
                advert_sort,
            </if>
            <if test="advertIsTop != null" >
                advert_is_top,
            </if>
            <if test="advertContent != null" >
                advert_content,
            </if>
            <if test="advertCreateAt != null" >
                advert_create_at,
            </if>
            <if test="advertUpdateAt != null" >
                advert_update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="advertId != null" >
                #{advertId,jdbcType=INTEGER},
            </if>
            <if test="advertDepartment != null" >
                #{advertDepartment,jdbcType=VARCHAR},
            </if>
            <if test="advertTitle != null" >
                #{advertTitle,jdbcType=VARCHAR},
            </if>
            <if test="advertPic != null" >
                #{advertPic,jdbcType=VARCHAR},
            </if>
            <if test="advertType != null" >
                #{advertType,jdbcType=INTEGER},
            </if>
            <if test="advertSort != null" >
                #{advertSort,jdbcType=INTEGER},
            </if>
            <if test="advertIsTop != null" >
                #{advertIsTop,jdbcType=INTEGER},
            </if>
            <if test="advertContent != null" >
                #{advertContent,jdbcType=VARCHAR},
            </if>
            <if test="advertCreateAt != null" >
                #{advertCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="advertUpdateAt != null" >
                #{advertUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdAndParams" parameterType="com.lxl.common.models.Advert" >
        update advert
        <set>
            <if test="advertDepartment != null" >
                advert_department = #{advertDepartment,jdbcType=VARCHAR},
            </if>
            <if test="advertTitle != null" >
                advert_title = #{advertTitle,jdbcType=VARCHAR},
            </if>
            <if test="advertPic != null" >
                advert_pic = #{advertPic,jdbcType=VARCHAR},
            </if>
            <if test="advertType != null" >
                advert_type = #{advertType,jdbcType=INTEGER},
            </if>
            <if test="advertSort != null" >
                advert_sort = #{advertSort,jdbcType=INTEGER},
            </if>
            <if test="advertIsTop != null" >
                advert_is_top = #{advertIsTop,jdbcType=INTEGER},
            </if>
            <if test="advertContent != null" >
                advert_content = #{advertContent,jdbcType=VARCHAR},
            </if>
            <if test="advertCreateAt != null" >
                advert_create_at = #{advertCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="advertUpdateAt != null" >
                advert_update_at = #{advertUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where advert_id = #{advertId,jdbcType=INTEGER}
    </update>

    <select id="findByParams" resultMap="BaseResultMap" parameterType="com.lxl.common.models.Advert">
        SELECT
        <include refid="Base_Column_List" />
        FROM advert
        <where>
            <if test="advertId != null" >
                AND advert_id = #{advertId,jdbcType=INTEGER}
            </if>
            <if test="advertDepartment != null" >
                AND advert_department = #{advertDepartment,jdbcType=VARCHAR}
            </if>
            <if test="advertTitle != null" >
                AND advert_title = #{advertTitle,jdbcType=VARCHAR}
            </if>
            <if test="advertPic != null" >
                AND advert_pic = #{advertPic,jdbcType=VARCHAR}
            </if>
            <if test="advertType != null" >
                AND advert_type = #{advertType,jdbcType=INTEGER}
            </if>
            <if test="advertSort != null" >
                AND advert_sort = #{advertSort,jdbcType=INTEGER}
            </if>
            <if test="advertIsTop != null" >
                AND advert_is_top = #{advertIsTop,jdbcType=INTEGER}
            </if>
            <if test="advertContent != null" >
                AND advert_content = #{advertContent,jdbcType=VARCHAR}
            </if>
            <if test="advertCreateAt != null" >
                AND advert_create_at = #{advertCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="advertUpdateAt != null" >
                AND advert_update_at = #{advertUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY advert_id DESC
    </select>

    <select id="findTotalByParams" resultType="java.lang.Integer" parameterType="com.lxl.common.models.Advert">
        SELECT COUNT(*) FROM advert
        <where>
            <if test="advertId != null" >
                AND advert_id = #{advertId,jdbcType=INTEGER}
            </if>
            <if test="advertDepartment != null" >
                AND advert_department = #{advertDepartment,jdbcType=VARCHAR}
            </if>
            <if test="advertTitle != null" >
                AND advert_title = #{advertTitle,jdbcType=VARCHAR}
            </if>
            <if test="advertPic != null" >
                AND advert_pic = #{advertPic,jdbcType=VARCHAR}
            </if>
            <if test="advertType != null" >
                AND advert_type = #{advertType,jdbcType=INTEGER}
            </if>
            <if test="advertSort != null" >
                AND advert_sort = #{advertSort,jdbcType=INTEGER}
            </if>
            <if test="advertIsTop != null" >
                AND advert_is_top = #{advertIsTop,jdbcType=INTEGER}
            </if>
            <if test="advertContent != null" >
                AND advert_content = #{advertContent,jdbcType=VARCHAR}
            </if>
            <if test="advertCreateAt != null" >
                AND advert_create_at = #{advertCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="advertUpdateAt != null" >
                AND advert_update_at = #{advertUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>