<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.common.mapper.AdvertMapper" >

    <resultMap id="BaseResultMap" type="com.lxl.common.models.House" >
        <id column="house_id" property="houseId" jdbcType="INTEGER" />
        <result column="house_code" property="houseCode" jdbcType="VARCHAR" />
        <result column="house_name" property="houseName" jdbcType="VARCHAR" />
        <result column="house_stages" property="houseStages" jdbcType="INTEGER" />
        <result column="house_description" property="houseDescription" jdbcType="VARCHAR" />
        <result column="house_create_at" property="houseCreateAt" jdbcType="TIMESTAMP" />
        <result column="house_update_at" property="houseUpdateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        house_id, house_code, house_name, house_stages, house_description, house_create_at, house_update_at
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from house
        where house_id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from house
        where house_id = #{houseId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lxl.api.models.AppMessage" >
        insert into house (id, message, senddate
        )
        values (#{house_id,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{senddate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lxl.common.models.House" >
        insert into house
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="houseId != null" >
                house_id,
            </if>
            <if test="houseCode != null" >
                house_code,
            </if>
            <if test="houseName != null" >
                house_name,
            </if>
            <if test="houseStages != null" >
                house_stages,
            </if>
            <if test="houseDescription != null" >
                house_description,
            </if>
            <if test="houseCreateAt != null" >
                house_create_at,
            </if>
            <if test="houseUpdateAt != null" >
                house_update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="houseId != null" >
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="houseCode != null" >
                #{houseCode,jdbcType=VARCHAR},
            </if>
            <if test="houseName != null" >
                #{houseName,jdbcType=VARCHAR},
            </if>
            <if test="houseStages != null" >
                #{houseStages,jdbcType=INTEGER},
            </if>
            <if test="houseDescription != null" >
                #{houseDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseCreateAt != null" >
                #{houseCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseUpdateAt != null" >
                #{houseUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lxl.common.models.House" >
        update house
        <set>
            <if test="houseCode != null" >
                house_code = #{houseCode,jdbcType=INTEGER},
            </if>
            <if test="houseName != null" >
                house_name = #{houseName,jdbcType=INTEGER},
            </if>
            <if test="houseStages != null" >
                house_stages = #{houseStages,jdbcType=VARCHAR},
            </if>
            <if test="houseDescription != null" >
                house_description = #{houseDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseCreateAt != null" >
                house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseUpdateAt != null" >
                house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where house_id = #{houseId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lxl.api.models.AppMessage" >
        update house
        set message = #{message,jdbcType=VARCHAR},
        senddate = #{senddate,jdbcType=TIMESTAMP}
        where house_id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lxl.common.models.House">
        SELECT
        <include refid="Base_Column_List" />
        FROM house
        <where>
            <if test="houseCode != null" >
                <bind name="pattern" value="'%' + houseCode +'%'" />
                AND house_code LIKE #{pattern,jdbcType=INTEGER}
            </if>
            <if test="houseName != null" >
                <bind name="pattern" value="'%' + houseName +'%'" />
                AND house_name LIKE #{pattern,jdbcType=INTEGER}
            </if>
            <if test="houseStages != null" >
                AND house_stages = #{houseStages,jdbcType=VARCHAR}
            </if>
            <if test="houseDescription != null" >
                AND house_description = #{houseDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseCreateAt != null" >
                AND house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseUpdateAt != null" >
                AND house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by house_id DESC
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from
        house
        where house_id = #{id,jdbcType=INTEGER}
        order by house_id asc
    </select>

    <select id="getTotal" resultType="java.lang.Integer" parameterType="com.lxl.common.models.House">
        SELECT COUNT(*) FROM house
        <where>
            <if test="houseCode != null" >
                <bind name="pattern" value="'%' + houseCode +'%'" />
                AND house_code LIKE #{pattern,jdbcType=INTEGER}
            </if>
            <if test="houseName != null" >
                <bind name="pattern" value="'%' + houseName +'%'" />
                AND house_name LIKE #{pattern,jdbcType=INTEGER}
            </if>
            <if test="houseStages != null" >
                AND house_stages = #{houseStages,jdbcType=VARCHAR}
            </if>
            <if test="houseDescription != null" >
                AND house_description = #{houseDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseCreateAt != null" >
                AND house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseUpdateAt != null" >
                AND house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

</mapper>