<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.common.mapper.FastMailMapper" >

    <resultMap id="BaseResultMap" type="com.lxl.common.models.FastMail" >
        <result column="fast_mail_id" property="fastMailId" jdbcType="INTEGER" />
        <result column="fast_mail_order_no" property="fastMailOrderNo" jdbcType="VARCHAR" />
        <result column="fast_mail_custom_no" property="fastMailCustomNo" jdbcType="VARCHAR" />
        <result column="fast_mail_business" property="fastMailBusiness" jdbcType="VARCHAR" />
        <result column="fast_mail_receive_room_id" property="fastMailReceiveRoomId" jdbcType="INTEGER" />
        <result column="fast_mail_receive_name" property="fastMailReceiveName" jdbcType="VARCHAR" />
        <result column="fast_mail_receive_phone" property="fastMailReceivePhone" jdbcType="VARCHAR" />
        <result column="fast_mail_receive_address" property="fastMailReceiveAddress" jdbcType="VARCHAR" />
        <result column="fast_mail_status" property="fastMailStatus" jdbcType="INTEGER" />
        <result column="fast_mail_memo" property="fastMailMemo" jdbcType="VARCHAR" />
        <result column="fast_mail_create_at" property="fastMailCreateAt" jdbcType="TIMESTAMP" />
        <result column="fast_mail_update_at" property="fastMailUpdateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        fast_mail_id, fast_mail_order_no, fast_mail_custom_no, fast_mail_business, fast_mail_receive_room_id, fast_mail_receive_name, fast_mail_receive_phone, fast_mail_receive_address, fast_mail_status, fast_mail_memo, fast_mail_create_at, fast_mail_update_at
    </sql>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM fast_mail
        WHERE fast_mail_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteOneById" parameterType="java.lang.Integer" >
        DELETE FROM fast_mail
        WHERE fast_mail_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lxl.common.models.FastMail" >
        INSERT INTO HOUSE (fast_mail_id, fast_mail_order_no, fast_mail_custom_no, fast_mail_business, fast_mail_receive_room_id, fast_mail_receive_name, fast_mail_receive_phone, fast_mail_receive_address, fast_mail_status, fast_mail_memo, fast_mail_create_at, fast_mail_update_at)
        VALUES (#{fastMailId,jdbcType=INTEGER}, #{fastMailOrderNo,jdbcType=VARCHAR}, #{fastMailCustomNo,jdbcType=VARCHAR}, #{fastMailBusiness,jdbcType=VARCHAR}, #{fastMailReceiveRoomId,jdbcType=INTEGER}, #{fastMailReceiveName,jdbcType=VARCHAR}, #{fastMailReceivePhone,jdbcType=VARCHAR}, #{fastMailReceiveAddress,jdbcType=VARCHAR}, #{fastMailStatus,jdbcType=INTEGER}, #{fastMailMemo,jdbcType=VARCHAR}, #{fastMailCreateAt,jdbcType=TIMESTAMP}, #{fastMailUpdateAt,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertByParams" parameterType="com.lxl.common.models.FastMail" >
        INSERT INTO fast_mail
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="fastMailId != null" >
                fast_mail_id,
            </if>
            <if test="fastMailOrderNo != null" >
                fast_mail_order_no,
            </if>
            <if test="fastMailCustomNo != null" >
                fast_mail_custom_no,
            </if>
            <if test="fastMailBusiness != null" >
                fast_mail_business,
            </if>
            <if test="fastMailReceiveRoomId != null" >
                fast_mail_receive_room_id,
            </if>
            <if test="fastMailReceiveName != null" >
                fast_mail_receive_name,
            </if>
            <if test="fastMailReceivePhone != null" >
                fast_mail_receive_phone,
            </if>
            <if test="fastMailReceiveAddress != null" >
                fast_mail_receive_address,
            </if>
            <if test="fastMailStatus != null" >
                fast_mail_status,
            </if>
            <if test="fastMailMemo != null" >
                fast_mail_memo,
            </if>
            <if test="fastMailCreateAt != null" >
                fast_mail_create_at,
            </if>
            <if test="fastMailUpdateAt != null" >
                fast_mail_update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="fastMailId != null" >
                #{fastMailId,jdbcType=INTEGER},
            </if>
            <if test="fastMailOrderNo != null" >
                #{fastMailOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailCustomNo != null" >
                #{fastMailCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailBusiness != null" >
                #{fastMailBusiness,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceiveRoomId != null" >
                #{fastMailReceiveRoomId,jdbcType=INTEGER},
            </if>
            <if test="fastMailReceiveName != null" >
                #{fastMailReceiveName,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceivePhone != null" >
                #{fastMailReceivePhone,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceiveAddress != null" >
                #{fastMailReceiveAddress,jdbcType=VARCHAR},
            </if>
            <if test="fastMailStatus != null" >
                #{fastMailStatus,jdbcType=INTEGER},
            </if>
            <if test="fastMailMemo != null" >
                #{fastMailMemo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailCreateAt != null" >
                #{fastMailCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="fastMailUpdateAt != null" >
                #{fastMailUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdAndParams" parameterType="com.lxl.common.models.FastMail" >
        update fast_mail
        <set>
            <if test="fastMailOrderNo != null" >
                fast_mail_order_no = #{fastMailOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailCustomNo != null" >
                fast_mail_custom_no = #{fastMailCustomNo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailBusiness != null" >
                fast_mail_business = #{fastMailBusiness,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceiveRoomId != null" >
                fast_mail_receive_room_id = #{fastMailReceiveRoomId,jdbcType=INTEGER},
            </if>
            <if test="fastMailReceiveName != null" >
                fast_mail_receive_name = #{fastMailReceiveName,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceivePhone != null" >
                fast_mail_receive_phone = #{fastMailReceivePhone,jdbcType=VARCHAR},
            </if>
            <if test="fastMailReceiveAddress != null" >
                fast_mail_receive_address = #{fastMailReceiveAddress,jdbcType=VARCHAR},
            </if>
            <if test="fastMailStatus != null" >
                fast_mail_status = #{fastMailStatus,jdbcType=INTEGER},
            </if>
            <if test="fastMailMemo != null" >
                fast_mail_memo = #{fastMailMemo,jdbcType=VARCHAR},
            </if>
            <if test="fastMailCreateAt != null" >
                fast_mail_create_at = #{fastMailCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="fastMailUpdateAt != null" >
                fast_mail_update_at = #{fastMailUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where fast_mail_id = #{fastMailId,jdbcType=INTEGER}
    </update>

    <select id="findByParams" resultMap="BaseResultMap" parameterType="com.lxl.common.models.FastMail">
        SELECT
        <include refid="Base_Column_List" />
        FROM fast_mail
        <where>
            <if test="fastMailId != null" >
                AND fast_mail_id = #{fastMailId,jdbcType=INTEGER}
            </if>
            <if test="fastMailOrderNo != null" >
                AND fast_mail_order_no = #{fastMailOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailCustomNo != null" >
                AND fast_mail_custom_no = #{fastMailCustomNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailBusiness != null" >
                AND fast_mail_business = #{fastMailBusiness,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceiveRoomId != null" >
                AND fast_mail_receive_room_id = #{fastMailReceiveRoomId,jdbcType=INTEGER}
            </if>
            <if test="fastMailReceiveName != null" >
                AND fast_mail_receive_name = #{fastMailReceiveName,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceivePhone != null" >
                AND fast_mail_receive_phone = #{fastMailReceivePhone,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceiveAddress != null" >
                AND fast_mail_receive_address = #{fastMailReceiveAddress,jdbcType=VARCHAR}
            </if>
            <if test="fastMailStatus != null" >
                AND fast_mail_status = #{fastMailStatus,jdbcType=INTEGER}
            </if>
            <if test="fastMailMemo != null" >
                AND fast_mail_memo = #{fastMailMemo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailCreateAt != null" >
                AND fast_mail_create_at = #{fastMailCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="fastMailUpdateAt != null" >
                AND fast_mail_update_at = #{fastMailUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY fast_mail_id DESC
    </select>

    <select id="findByParamsAndPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM fast_mail
        <where>
            <if test="fastMail.fastMailId != null" >
                AND fast_mail_id = #{fastMail.fastMailId,jdbcType=INTEGER}
            </if>
            <if test="fastMail.fastMailOrderNo != null" >
                AND fast_mail_order_no = #{fastMail.fastMailOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailCustomNo != null" >
                AND fast_mail_custom_no = #{fastMail.fastMailCustomNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailBusiness != null" >
                AND fast_mail_business = #{fastMail.fastMailBusiness,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailReceiveRoomId != null" >
                AND fast_mail_receive_room_id = #{fastMail.fastMailReceiveRoomId,jdbcType=INTEGER}
            </if>
            <if test="fastMail.fastMailReceiveName != null" >
                AND fast_mail_receive_name = #{fastMail.fastMailReceiveName,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailReceivePhone != null" >
                AND fast_mail_receive_phone = #{fastMail.fastMailReceivePhone,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailReceiveAddress != null" >
                AND fast_mail_receive_address = #{fastMail.fastMailReceiveAddress,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailStatus != null" >
                AND fast_mail_status = #{fastMail.fastMailStatus,jdbcType=INTEGER}
            </if>
            <if test="fastMail.fastMailMemo != null" >
                AND fast_mail_memo = #{fastMail.fastMailMemo,jdbcType=VARCHAR}
            </if>
            <if test="fastMail.fastMailCreateAt != null" >
                AND fast_mail_create_at = #{fastMail.fastMailCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="fastMail.fastMailUpdateAt != null" >
                AND fast_mail_update_at = #{fastMail.fastMailUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY fast_mail_id DESC LIMIT ${(page - 1) * size}, ${size}
    </select>

    <select id="findTotalByParams" resultType="java.lang.Integer" parameterType="com.lxl.common.models.FastMail">
        SELECT COUNT(*) FROM fast_mail
        <where>
            <if test="fastMailId != null" >
                AND fast_mail_id = #{fastMailId,jdbcType=INTEGER}
            </if>
            <if test="fastMailOrderNo != null" >
                AND fast_mail_order_no = #{fastMailOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailCustomNo != null" >
                AND fast_mail_custom_no = #{fastMailCustomNo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailBusiness != null" >
                AND fast_mail_business = #{fastMailBusiness,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceiveRoomId != null" >
                AND fast_mail_receive_room_id = #{fastMailReceiveRoomId,jdbcType=INTEGER}
            </if>
            <if test="fastMailReceiveName != null" >
                AND fast_mail_receive_name = #{fastMailReceiveName,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceivePhone != null" >
                AND fast_mail_receive_phone = #{fastMailReceivePhone,jdbcType=VARCHAR}
            </if>
            <if test="fastMailReceiveAddress != null" >
                AND fast_mail_receive_address = #{fastMailReceiveAddress,jdbcType=VARCHAR}
            </if>
            <if test="fastMailStatus != null" >
                AND fast_mail_status = #{fastMailStatus,jdbcType=INTEGER}
            </if>
            <if test="fastMailMemo != null" >
                AND fast_mail_memo = #{fastMailMemo,jdbcType=VARCHAR}
            </if>
            <if test="fastMailCreateAt != null" >
                AND fast_mail_create_at = #{fastMailCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="fastMailUpdateAt != null" >
                AND fast_mail_update_at = #{fastMailUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>