<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.common.mapper.HouseMapper" >

    <resultMap id="BaseResultMap" type="com.lxl.common.models.House" >
        <id column="house_id" property="houseId" jdbcType="INTEGER" />
        <result column="house_code" property="houseCode" jdbcType="VARCHAR" />
        <result column="house_name" property="houseName" jdbcType="VARCHAR" />
        <result column="house_stages" property="houseStages" jdbcType="INTEGER" />
        <result column="house_description" property="houseDescription" jdbcType="VARCHAR" />
        <result column="house_create_at" property="houseCreateAt" jdbcType="TIMESTAMP" />
        <result column="house_update_at" property="houseUpdateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        house_id, house_code, house_name, house_stages, house_description, house_create_at, house_update_at
    </sql>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM house
        WHERE house_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteOneById" parameterType="java.lang.Integer" >
        DELETE FROM house
        WHERE house_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lxl.common.models.House" >
        INSERT INTO HOUSE (house_id, house_code, house_name, house_stages, house_description, house_create_at, house_update_at)
        VALUES (#{houseId,jdbcType=INTEGER}, #{houseCode,jdbcType=VARCHAR}, #{houseName,jdbcType=VARCHAR}, #{houseStages,jdbcType=INTEGER}, #{houseDescription,jdbcType=VARCHAR}, #{houseCreateAt,jdbcType=TIMESTAMP}, #{houseUpdateAt,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertByParams" parameterType="com.lxl.common.models.House" >
        INSERT INTO house
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="houseId != null" >
                house_id,
            </if>
            <if test="houseCode != null" >
                house_code,
            </if>
            <if test="houseName != null" >
                house_name,
            </if>
            <if test="houseStages != null" >
                house_stages,
            </if>
            <if test="houseDescription != null" >
                house_description,
            </if>
            <if test="houseCreateAt != null" >
                house_create_at,
            </if>
            <if test="houseUpdateAt != null" >
                house_update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="houseId != null" >
                #{houseId,jdbcType=INTEGER},
            </if>
            <if test="houseCode != null" >
                #{houseCode,jdbcType=VARCHAR},
            </if>
            <if test="houseName != null" >
                #{houseName,jdbcType=VARCHAR},
            </if>
            <if test="houseStages != null" >
                #{houseStages,jdbcType=INTEGER},
            </if>
            <if test="houseDescription != null" >
                #{houseDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseCreateAt != null" >
                #{houseCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseUpdateAt != null" >
                #{houseUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdAndParams" parameterType="com.lxl.common.models.House" >
        update house
        <set>
            <if test="houseCode != null" >
                house_code = #{houseCode,jdbcType=VARCHAR},
            </if>
            <if test="houseName != null" >
                house_name = #{houseName,jdbcType=VARCHAR},
            </if>
            <if test="houseStages != null" >
                house_stages = #{houseStages,jdbcType=INTEGER},
            </if>
            <if test="houseDescription != null" >
                house_description = #{houseDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseCreateAt != null" >
                house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseUpdateAt != null" >
                house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where house_id = #{houseId,jdbcType=INTEGER}
    </update>

    <select id="findByParams" resultMap="BaseResultMap" parameterType="com.lxl.common.models.House">
        SELECT
        <include refid="Base_Column_List" />
        FROM house
        <where>
            <if test="houseId != null" >
                AND house_id = #{houseId,jdbcType=INTEGER}
            </if>
            <if test="houseCode != null" >
                AND house_code = #{houseCode,jdbcType=VARCHAR}
            </if>
            <if test="houseName != null" >
                AND house_name = #{houseName,jdbcType=VARCHAR}
            </if>
            <if test="houseStages != null" >
                AND house_stages = #{houseStages,jdbcType=INTEGER}
            </if>
            <if test="houseDescription != null" >
                AND house_description = #{houseDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseCreateAt != null" >
                AND house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseUpdateAt != null" >
                AND house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY house_id DESC
    </select>

    <select id="findTotalByParams" resultType="java.lang.Integer" parameterType="com.lxl.common.models.House">
        SELECT COUNT(*) FROM house
        <where>
            <if test="houseId != null" >
                AND house_id = #{houseId,jdbcType=INTEGER}
            </if>
            <if test="houseCode != null" >
                AND house_code = #{houseCode,jdbcType=VARCHAR}
            </if>
            <if test="houseName != null" >
                AND house_name = #{houseName,jdbcType=VARCHAR}
            </if>
            <if test="houseStages != null" >
                AND house_stages = #{houseStages,jdbcType=INTEGER}
            </if>
            <if test="houseDescription != null" >
                AND house_description = #{houseDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseCreateAt != null" >
                AND house_create_at = #{houseCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseUpdateAt != null" >
                AND house_update_at = #{houseUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>