<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.common.mapper.HouseHoldMapper" >

    <resultMap id="BaseResultMap" type="com.lxl.common.models.HouseHold" >
        <id column="house_hold_id" property="houseHoldId" jdbcType="INTEGER" />
        <result column="house_hold_room_id" property="houseHoldRoomId" jdbcType="INTEGER" />
        <result column="house_hold_name" property="houseHoldName" jdbcType="VARCHAR" />
        <result column="house_hold_phone" property="houseHoldPhone" jdbcType="VARCHAR" />
        <result column="house_hold_sex" property="houseHoldSex" jdbcType="VARCHAR" />
        <result column="house_hold_individual" property="houseHoldIndividual" jdbcType="VARCHAR" />
        <result column="house_hold_type" property="houseHoldType" jdbcType="INTEGER" />
        <result column="house_hold_description" property="houseHoldDescription" jdbcType="VARCHAR" />
        <result column="house_hold_create_at" property="houseHoldCreateAt" jdbcType="TIMESTAMP" />
        <result column="house_hold_update_at" property="houseHoldUpdateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        house_hold_id, house_hold_room_id, house_hold_name, house_hold_phone, house_hold_sex, house_hold_individual, house_hold_type, house_hold_description, house_hold_create_at, house_hold_update_at
    </sql>

    <select id="findOneById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />
        FROM house_hold
        WHERE house_hold_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteOneById" parameterType="java.lang.Integer" >
        DELETE FROM house_hold
        WHERE house_hold_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lxl.common.models.HouseHold" >
        INSERT INTO HOUSE (house_hold_id, house_hold_room_id, house_hold_name, house_hold_phone, house_hold_sex, house_hold_individual, house_hold_type, house_hold_description, house_hold_create_at, house_hold_update_at)
        VALUES (#{houseHoldId,jdbcType=INTEGER}, #{houseHoldRoomId,jdbcType=INTEGER}, #{houseHoldName,jdbcType=VARCHAR}, #{houseHoldPhone,jdbcType=VARCHAR}, #{houseHoldSex,jdbcType=VARCHAR}, #{houseHoldIndividual,jdbcType=VARCHAR}, #{houseHoldType,jdbcType=INTEGER}, #{houseHoldDescription,jdbcType=VARCHAR}, #{houseHoldCreateAt,jdbcType=TIMESTAMP}, #{houseHoldUpdateAt,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertByParams" useGeneratedKeys="true" keyProperty="houseHoldId" parameterType="com.lxl.common.models.HouseHold" >
        INSERT INTO house_hold
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="houseHoldId != null" >
                house_hold_id,
            </if>
            <if test="houseHoldRoomId != null" >
                house_hold_room_id,
            </if>
            <if test="houseHoldName != null" >
                house_hold_name,
            </if>
            <if test="houseHoldPhone != null" >
                house_hold_phone,
            </if>
            <if test="houseHoldSex != null" >
                house_hold_sex,
            </if>
            <if test="houseHoldIndividual != null" >
                house_hold_individual,
            </if>
            <if test="houseHoldType != null" >
                house_hold_type,
            </if>
            <if test="houseHoldDescription != null" >
                house_hold_description,
            </if>
            <if test="houseHoldCreateAt != null" >
                house_hold_create_at,
            </if>
            <if test="houseHoldUpdateAt != null" >
                house_hold_update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="houseHoldId != null" >
                #{houseHoldId,jdbcType=INTEGER},
            </if>
            <if test="houseHoldRoomId != null" >
                #{houseHoldRoomId,jdbcType=INTEGER},
            </if>
            <if test="houseHoldName != null" >
                #{houseHoldName,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldPhone != null" >
                #{houseHoldPhone,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldSex != null" >
                #{houseHoldSex,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldIndividual != null" >
                #{houseHoldIndividual,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldType != null" >
                #{houseHoldType,jdbcType=INTEGER},
            </if>
            <if test="houseHoldDescription != null" >
                #{houseHoldDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldCreateAt != null" >
                #{houseHoldCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseHoldUpdateAt != null" >
                #{houseHoldUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByIdAndParams" parameterType="com.lxl.common.models.HouseHold" >
        update house_hold
        <set>
            <if test="houseHoldRoomId != null" >
                house_hold_room_id = #{houseHoldRoomId,jdbcType=INTEGER},
            </if>
            <if test="houseHoldName != null" >
                house_hold_name = #{houseHoldName,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldPhone != null" >
                house_hold_phone = #{houseHoldPhone,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldSex != null" >
                house_hold_sex = #{houseHoldSex,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldIndividual != null" >
                house_hold_individual = #{houseHoldIndividual,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldType != null" >
                house_hold_type = #{houseHoldType,jdbcType=INTEGER},
            </if>
            <if test="houseHoldDescription != null" >
                house_hold_description = #{houseHoldDescription,jdbcType=VARCHAR},
            </if>
            <if test="houseHoldCreateAt != null" >
                house_hold_create_at = #{houseHoldCreateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="houseHoldUpdateAt != null" >
                house_hold_update_at = #{houseHoldUpdateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where house_hold_id = #{houseHoldId,jdbcType=INTEGER}
    </update>

    <select id="findByParams" resultMap="BaseResultMap" parameterType="com.lxl.common.models.HouseHold">
        SELECT
        <include refid="Base_Column_List" />
        FROM house_hold
        <where>
            <if test="houseHoldId != null" >
                AND house_hold_id = #{houseHoldId,jdbcType=INTEGER}
            </if>
            <if test="houseHoldRoomId != null" >
                AND house_hold_room_id = #{houseHoldRoomId,jdbcType=INTEGER}
            </if>
            <if test="houseHoldName != null" >
                <bind name="pattern" value="'%' + houseHoldName +'%'" />
                AND house_hold_name LIKE #{pattern,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldPhone != null" >
                AND house_hold_phone = #{houseHoldPhone,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldSex != null" >
                AND house_hold_sex = #{houseHoldSex,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldIndividual != null" >
                AND house_hold_individual = #{houseHoldIndividual,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldType != null" >
                AND house_hold_type = #{houseHoldType,jdbcType=INTEGER}
            </if>
            <if test="houseHoldDescription != null" >
                AND house_hold_description = #{houseHoldDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldCreateAt != null" >
                AND house_hold_create_at = #{houseHoldCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseHoldUpdateAt != null" >
                AND house_hold_update_at = #{houseHoldUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY house_hold_id DESC
    </select>

    <select id="findByParamsAndPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM house_hold
        <where>
            <if test="houseHold.houseHoldId != null" >
                AND house_hold_id = #{houseHold.houseHoldId,jdbcType=INTEGER}
            </if>
            <if test="houseHold.houseHoldRoomId != null" >
                AND house_hold_room_id = #{houseHold.houseHoldRoomId,jdbcType=INTEGER}
            </if>
            <if test="houseHold.houseHoldName != null" >
                <bind name="pattern" value="'%' + houseHold.houseHoldName +'%'" />
                AND house_hold_name LIKE #{pattern,jdbcType=VARCHAR}
            </if>
            <if test="houseHold.houseHoldPhone != null" >
                AND house_hold_phone = #{houseHold.houseHoldPhone,jdbcType=VARCHAR}
            </if>
            <if test="houseHold.houseHoldSex != null" >
                AND house_hold_sex = #{houseHold.houseHoldSex,jdbcType=VARCHAR}
            </if>
            <if test="houseHold.houseHoldIndividual != null" >
                AND house_hold_individual = #{houseHold.houseHoldIndividual,jdbcType=VARCHAR}
            </if>
            <if test="houseHold.houseHoldType != null" >
                AND house_hold_type = #{houseHold.houseHoldType,jdbcType=INTEGER}
            </if>
            <if test="houseHold.houseHoldDescription != null" >
                AND house_hold_description = #{houseHold.houseHoldDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseHold.houseHoldCreateAt != null" >
                AND house_hold_create_at = #{houseHold.houseHoldCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseHold.houseHoldUpdateAt != null" >
                AND house_hold_update_at = #{houseHold.houseHoldUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY house_hold_id DESC LIMIT ${(page - 1) * size}, ${size}
    </select>

    <select id="findTotalByParams" resultType="java.lang.Integer" parameterType="com.lxl.common.models.HouseHold">
        SELECT COUNT(*) FROM house_hold
        <where>
            <if test="houseHoldId != null" >
                AND house_hold_id = #{houseHoldId,jdbcType=INTEGER}
            </if>
            <if test="houseHoldRoomId != null" >
                AND house_hold_room_id = #{houseHoldRoomId,jdbcType=INTEGER}
            </if>
            <if test="houseHoldName != null" >
                <bind name="pattern" value="'%' + houseHoldName +'%'" />
                AND house_hold_name LIKE #{pattern,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldPhone != null" >
                AND house_hold_phone = #{houseHoldPhone,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldSex != null" >
                AND house_hold_sex = #{houseHoldSex,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldIndividual != null" >
                AND house_hold_individual = #{houseHoldIndividual,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldType != null" >
                AND house_hold_type = #{houseHoldType,jdbcType=INTEGER}
            </if>
            <if test="houseHoldDescription != null" >
                AND house_hold_description = #{houseHoldDescription,jdbcType=VARCHAR}
            </if>
            <if test="houseHoldCreateAt != null" >
                AND house_hold_create_at = #{houseHoldCreateAt,jdbcType=TIMESTAMP}
            </if>
            <if test="houseHoldUpdateAt != null" >
                AND house_hold_update_at = #{houseHoldUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>